html{
    overflow-x: hidden;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding-top: 170px;
}
header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    margin: 15px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid #333333;
    backdrop-filter: blur(10px);
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c7c7c7;
}
li{
    padding-bottom: 20px;
}
ul li::marker {
    color: #ff8b08;
}
.button-contact{
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 22px;
    margin-bottom: 50px;
    padding: 12px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #00000000;
    transition: all ease-in-out 0.3s;
}
.button-contact:hover{
    color: white;
    background-color: #000000;
}
.button-projet{
    cursor: pointer;
    font-size: 1.2em;
    padding: 12px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #00000000;
    transition: all ease-in-out 0.3s;
}
.button-projet:hover{
    color: #ececec;
    background-color: #000000;
}
.button-experience{
    cursor: pointer;
    font-size: 1.2em;
    padding: 12px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #00000000;
    transition: all ease-in-out 0.3s;
}
.button-experience:hover{
    color: #ff8b08;
    background-color: #000000;
}
.href-button-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    margin-top: 7px;
    margin-bottom: 7px;
}
h2, h3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.0em;
    margin-top: 0;
    margin-bottom: 20px;
}
.call-to-action-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.call, .call-right, .call-left{
    cursor: pointer;
    color: #06010f;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 4px;
    margin-top: 1px;
    transition: all 0.3s ease;
}
.call-select{
    border-top: 2px solid #ff8b08;
}
/*animation call*/
.container-animated-call {
    position: relative;
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr.animated-line {
    position: absolute;
    top: 50%;
    width: 0;
    height: 2px;
    background-color: #ff8b08;
    border: none;
    margin: 0;
    transform-origin: center;
    transition: all 0.5s ease-in-out;
}
.all-container-call:hover hr.animated-line:first-child {
    width: 100%;
    left: 0;
}
.all-container-call:hover hr.animated-line:last-child {
    width: 100%;
    right: 0;
}
.hr-title{
    width: 8%;
    margin: 0 auto;
    border: 1px solid #ff8b08;
}
/*animation call*/
.border-title{
    border-bottom: 4px solid;
}
.border-title{
    border-bottom: 4px solid;
}
.groupe-one{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.left-content-one{
    width: 60%;
}
.right-content-one{
    z-index: 2;
}
.img-groupe-one{
    width: 100%;
    height: auto;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}
.groupe-tow{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ececec;
}
.text-projet-index{
    padding: 10px 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid #00000070;
    margin-left: 10px;
}
.groupe-three{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    background-color: #ff8b08;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.text-experience-index{
    padding: 10px 20px;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 2px solid #00000070;
}
.text-projet{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-left: 2px solid #ff8b08;
}
.text-groupe{
    z-index: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 93%;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    animation-duration: 1.5s;
    animation-name: slidein-text-groupe;
}
.groupe-four{
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(85, 85, 85);
}
/* contact */
.groupe-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contact-groupe-one, .contact-groupe-tow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation-duration: 1s;
}
.contact-groupe-one{
    animation-name: slideout-contact;
    margin-right: 10%;
}
.contact-groupe-tow{
    animation-name: slidein-contact;
    margin-left: 10%;
}
.title-groupe-contact{
    font-size: 2em;
    margin: 0;
    text-decoration: underline;
    text-decoration-color: #ff8b08;
}
.title-contact{
    font-size: 2.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.icone-contact{
    margin: 20px 0px;
    margin-top: 80px;
}
.info-contacte{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}
/*projet*/
.groupe-title-projet{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.primary-text-project{
    text-align: center;
}
.secondary-text-project{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    color: #ff8b08;
    text-align: center;
    width: 50%;
}
.groupe-card-projet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
.card-projet{
    width: 15em;
    height: 20em;
    margin: 3em;
    padding-top: 2px;
    background-color: #333333;
    border-radius: 20px;
    animation-duration: 1.5s;
    animation-name: slideup-card;
    transition: all ease 0.3s;
}
.card-projet:hover{
    transform:translateY(-10px);
}
.num-card{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    margin-bottom: 0px;
    border: 2px solid #ff8b08;
    border-radius: 100%;
    animation-duration: 2s;
    animation-name: opacity-card;
}
.num-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    color: white;
    border-bottom: 2px solid #474747;
    animation-duration: 2s;
    animation-name: opacity-card;
}
.text-card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    animation-duration: 2s;
    animation-name: opacity-card;
}
.groupe-card-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* tarif*/
.groupe-tarif-one{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.groupe-tarif-two{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.card-tarif{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin-top: 50px;
    background-color: #c7c7c7;
}
.title-card-tarif{
    text-decoration: underline;
    text-decoration-color: #ff8b08;
    padding-left: 10px;
    padding-right: 10px;
}
.tarif-title{
    font-size: 1.25em;
    margin-top: 25px;
}
.text-tarif{
    border-left: 2px solid rgb(88, 88, 88);
    padding-left: 5px;
    margin-left: 15px;
    padding-right: 20px;
    text-align: justify;
}
.border-tarif{
    border-right: 2px solid;
}
/*experience*/
.primary-text-experience{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    font-size: 2em;
}
.info-experience{
    border-bottom: 2px solid rgba(0, 0, 0, 0.178);
    border-top: 2px solid rgba(0, 0, 0, 0.178);
    padding: 10px 30px;
    padding-bottom: 15px;
    font-size: 0.9em;
}
.groupe-card-experience{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 25px;
    margin: 20px;
}
.card-experience{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #333333;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
}
.img-card-projet{
    width: 40%;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.video-projet{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}
.text-experience{
    margin: 5px 10px;
}
/*animation*/
@keyframes slidein-text-groupe {
    from {
        margin-left: 100%;
        opacity: 0%;
    }
          
    to {
        margin-left: 25px;
        opacity: 100%;
    }   
}
@keyframes slideup-title {
    from {
        transform: translateY(50px);
        opacity: 0%;
    }
          
    to {
        transform: translateY(0px);
        opacity: 100%;
    }
}  
@keyframes slidein-contact {
    from {
        transform: translateX(300px);
    }
          
    to {
        transform: translateX(0px);
    }   
}
@keyframes slideout-contact {
    from {
        transform: translateX(-300px);
    }
          
    to {
        transform: translateX(0px);
    }   
}
@keyframes slideup-card {
    from {
        transform: rotatez(90deg);
    }
    to {
        transform: rotatez(0deg);
    }
}
@keyframes opacity-card {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
@media screen and (max-width: 425px) {
    .title-groupe-contact{
        font-size: 1em;
    }
    .contact-groupe-one{
        margin-right: 0;
    }
    .contact-groupe-tow{
        margin-left: 0;
    }
}
@media screen and (max-width: 425px) {
    .call, .call-left, .call-right{
        font-size: 0.8em;
    }
    .groupe-tarif-two{
        grid-template-columns: 100%;
    }
    .card-tarif{
        border-top: 2px solid;
        margin-top: 0;
    }
    .border-tarif{
        border-right: 0;
    }
    .secondary-text-project{
        width: 80%;
    }
    .groupe-contact{
        flex-direction: column;
    }
}
@media (max-width: 460px) {
    .title-groupe-contact{
        font-size: 1.5em;
    }
}
@media (max-width: 500px) {
    header{
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }
}
@media (max-width: 630px){
    .groupe-one{
        grid-template-columns: 100%;
    }
    .img-groupe{
        margin-left: 35px;
    }
}
@media (max-width: 720px){
    .groupe-one{
        flex-direction: column;
        display: flex;
        align-items: end;
    }
    .left-content-one{
        width: 100%;
        order: 2;
    }
    .groupe-tow{
        grid-template-columns: 100%;
    }
    .groupe-three{
        grid-template-columns: 100%;
    }
    .href-button-center-experience{
        margin-top: 15px;
    }
    .href-button-center-projet{
        margin-bottom: 15px;
    }
    .groupe-card-experience{
        grid-template-columns: 100%;
    }
}
@media (max-width: 768px) {
    .groupe-card-projet{
        flex-direction: column;
        align-items: center;
    }
    .groupe-card-logo {
        width: 100%;
    }
}
@media (max-width: 900px){
    .groupe-tarif-two{
        grid-template-columns: 100%;
    }
    .card-tarif{
        border-top: 2px solid;
        margin-top: 0;
    }
}
@media (max-width: 1024px) {
    .groupe-card-logo {
        width: 0%;
    }
}